body{
    background: rgb(245,245,245);
    background: #f5f5f5;
    color: #111;
    font: 14px Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: 300;
    line-height: 1.4em;
    margin: 0;
}
article{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}
h1{
    color: rgb(184,63,69);
    font-size: 70px;
   
}
input{
     padding-left: 70px; 
  }
input{
    width: 631.1px;
    height: 65px;
    font-size: 25px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
    border: none;
    outline: none; 

}
.input-field::placeholder {
    position: absolute;
    left: 70px; 
    opacity: 0.5;
  }
  .footer{
    width: 700px;
    height: 65px;
    display: flex;
    justify-content: center;
  

  }

.footer ul{
    display: flex;
    justify-content:space-around;
    color: black;
    align-items: center;
    
 
}
li{
    list-style: none;
    margin: 2px;
    
}
a{
    text-decoration: none;
    color: black;
}
.middle{
    display: flex;
}
.para{
    position: relative;
    opacity: 0.3;
    top: 80px;
}
button{
    border: 1px solid red;
}

.clearable-input-clear{
    position: absolute;
    left:36.5rem;
    top: 150px;
    text-align: center;
    font-size: 40px;
    background: none;
   border: none;
}